<app-header></app-header>

<main>
  <section class="main-section">
    <div class="image-container">
      <img src="./assets/bck.png" width="1365" height="500"/>

      <div class="headline">
        <span>ADVOCACIA JURÍDICA</span>
        <h1>Converse com uma Especialista e <p> Descubra como Ganhar seu Caso.</h1>
        <a href="https://api.whatsapp.com/message/IHLMPRSAEDXAD1?autoload=1&app_absent=0" class="botao"> Agende sua consulta </a>
      </div>
    </div>
  </section>
  <app-diferenciais></app-diferenciais>
  <app-newsletter-form></app-newsletter-form>
</main>




